extends layout

block content
  h1 Start betting on various events - with your friends
  p.lead
    | You want to start betting competitions with your friends easily?
    br
    | Then start a new competition right now!
  p.lead
    if !user
      a(href='/signup', class='btn btn-success btn-lg', role='button') 
        span.fa.fa-user 
        span Create an account right now
    else
      a(href='#', class='btn btn-success btn-lg', role='button') 
        span.fa.fa-trophy 
        span Create a new competition
